[Unit]
Description=Set fan speed for AMD
RequiresMountsFor=/sys/class/drm

[Service]
User=root
ExecStart=/bin/bash -c "/bin/amdfc.py"

[Install]
WantedBy=multi-user.target
