[Unit]
Description=Allow access to kernel debug folder for amdgpu stats
RequiresMountsFor=/sys/kernel

[Service]
User=root
ExecStart=/bin/bash -c "/bin/amdst.py"

[Install]
WantedBy=multi-user.target